@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: darkgrey;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 10% auto 10%;
  height: 100dvh;
  height: 100svh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  display: grid;
}

.Toastify {
  position: absolute;
}

/*Lets hide the scrollbar/*
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.favourite-btn {
  z-index: 9;
  width: 2.2rem;
  height: 2.2rem;
  background-color: black;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.favourite-btn-2 {
  z-index: 9;
  width: 2.2rem;
  height: 2.2rem;
  background-color: black;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
}

.favourite-btn-area {
  justify-self: center;
  grid-column: 1/3;
}

.favourite-btn:hover {
  background-color: red;
}
