@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: salmon;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 10% auto 10%;
  height: 100dvh;
  height: 100svh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  display: grid;
}

.Toastify {
  position: absolute;
}
